# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environments
.env
.venv/
.env.*

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Uvicorn logs
*.sqlite3
*.pid

# Pytest
.cache/
.pytest_cache/
